.chartsView {
    margin: 20px;
    display: grid;
    grid-template-columns: 640px 40px auto;
}

.customEvent {
    display: grid;
    grid-template-columns: 40px 40px;
    margin-left: -60px;
}
.compName {
    position: absolute;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 5px;
    color: #0d1a26;
}