.charts {
    margin: 20px;
    .back {
        position: absolute;
        left: 40px;
    }
    .img {
        width: 40px;
        padding: 12px;
    }
    canvas {
        background: #f3f3f3;
    }
}